  
  
  <%= form_with(url:"/bookings/new", method: "get") do |form| %> 
  
      <% if @same_day_flights.nil?  %>
        <p>Search failed :( Try another search.</p>

      <% else %>
        
        <div class="available-flights">
          <% @same_day_flights.each do |flight| %>
            
            
            <div class="card">
              <p class="flight-code"><%= radio_button_tag(:result, "flight") %> <%= params[:from_code] %> to <%= params[:to_code] %> </p>
              <p><%= flight.scheduled_for %></p>

              <%= hidden_field_tag(:flight_id, flight[:id]) %>
              <%= hidden_field_tag(:date, flight[:scheduled_for]) %>
              <%= hidden_field_tag(:from_airport, flight[:from_airport_id]) %>
              <%= hidden_field_tag(:to_airport, flight[:to_airport_id]) %>
            </div>       
          <% end %>
        </div>


        <%= hidden_field_tag(:passengers, params[:passengers]) %>

      <%= form.submit 'Book Flight', class:"mdl-button mdl-js-button mdl-button--raised mdl-button--accent book-flight-btn" %>

      <% end %>

    
  
  <% end %>  
  