<header class="navbar">
  <h1 class="page-heading"><%= link_to 'Odin Flight Booker', root_path %></h1>
</header>

<div class="container">
  <section class="search-form">
  <h3>Find flights</h3>
  <div class="form">
    <%= render 'flights/search_form' %>
  </div>
  
  </section>

  <section class="search-results">
  <h3>Available Flights</h3>

  <% if @same_day_flights.nil?  %>
    <p>Search failed :( Try another search.</p>
  <% else %>
    <div class="available-flights">
      <% @same_day_flights.each do |flight| %>
      <p><%= params[:from_code] %> to <%= params[:to_code] %> </p>
      <div class="card">
        <p><%= flight.scheduled_for %></p>
      </div>
    <% end %>
    </div>
  <% end %>
  </section>
</div>


<footer>
  <div class="footer-left-column">
    <span>Test the flight booking app. <%= link_to 'Click here ', '/flight_list' %> to see all flights available for searching</span>
  </div>

  <div class="footer-right-column">
  </div>
</footer>